/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {  
  --accent-color: #ff0070;
  --bg-title-color: #ff0070;
  --text-shadow: #ff0070;
  --subtitle-text-color: #000028;
  --section-title-color: #ff0070;
  --main-title-color: #db00ff;
  --paragraf-text-color: #f1b2ce;
  --button-outline-color: #ff0070;
  --button-outline-color-hover: rgba(255 0 112/0.4);
  --decoration-color: #ff0070;
  --page-bg-image: url(../images/cover-image-dark.png);
}
