:root {
  --main-margin: 10px;
  --main-font-size: 18px;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --decoration-margin: 10px;
  --accent-color: #ff0070;
  --bg-title-color: #ff0070;
  --bg-color: #000028;
  --text-shadow: #ff0070;
  --subtitle-text-color: #000028;
  --section-title-color: #ff0070;
  --main-title-color: #db00ff;
  --paragraf-text-color: #f1b2ce;
  --button-outline-color: #ff0070;
  --button-outline-color-hover: rgba(255 0 112/0.4);
  --decoration-color: #ff0070;
  --page-bg-image: url(../images/cover-image-dark.png);
}
